body {
  background-image: url(https://images.pexels.com/photos/4005082/pexels-photo-4005082.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
#title{
  margin: 1%;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}
#footer {
  padding: 7% 15%;
  text-align: center;
  z-index: 1;
}

.icon{
  color: #6FA4A4;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #3797A4;
}
.active{
  background-color: #FFFFFF;
}
.navbar-brand{
  margin-left: 5%;
  font-size: 30px;
  color: #495464;
  font-family: 'Vollkorn',sans-serif;
}
.nav-link{
  font-size: 15px;
  color: #495464;
}
.row{
  margin: 5%;
  line-height: 2;
  text-align: center;
}
.get{
  color: #FFF;
  text-decoration: none;
  opacity: .8;
  font-size: 22px;
}
.btn{
  color: #1A1C20;
}
.social-icon {
  margin: 20px 10px;
  text-decoration: none;
  color: #1A1C20;
}
.navbar-brand:hover{
  color: #1A1C20;
}
.nav-link:hover{
  color: #1A1C20;
}
.get:hover{
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity:1;
}
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 3) {
  body{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  #footer{
    background-color: #FFFFFF;
  }
  .navbar-brand{
    margin-left: 1%;
  }
  .navbar-nav{
    text-align: right;
  }
}
