body {
  background-image: url(https://images.pexels.com/photos/4005082/pexels-photo-4005082.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
}
#title{
  margin: 1%;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #6FA4A4;
  color: #FFFFFF;
  z-index: 1;
}
#features{
  padding: 3% 8%;
  background-color: #CEE397;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
#cta {
  background-color: #CEE397;
  color: #FFFFFF;
  padding: 7% 15%;
  text-align: center;
  z-index: 1;
}
#footer {
  padding: 7% 15%;
  text-align: center;
  z-index: 1;
}
.features-box{
  text-align: center;
  padding: 2%;
}
.icon{
  color: #6FA4A4;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #3797A4;
}
.active{
  background-color: #FFFFFF;
}
.navbar-brand{
  margin-left: 5%;
  font-size: 30px;
  color: #495464;
  font-family: 'Vollkorn',sans-serif;
}
.nav-link{
  font-size: 15px;
  color: #495464;
}
.row{
  margin: 5%;
  line-height: 2;
  text-align: center;
}
.get{
  color: #FFF;
  text-decoration: none;
  opacity: .8;
  font-size: 22px;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 18px;
}
.carousel-item{
  padding-left: 10%;
  padding-right: 10%;
  background-color: #6FA4A4;
}
.couples{
  height: 35rem;
  width: auto;
  border-radius: 2%;
}
.cta-heading{
  font-family: 'Montserrat',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn{
  color: #1A1C20;
}
.social-icon {
  margin: 20px 10px;
  text-decoration: none;
  color: #1A1C20;
}
.navbar-brand:hover{
  color: #1A1C20;
}
.nav-link:hover{
  color: #1A1C20;
}
.get:hover{
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
@media only screen
  and (min-device-width: 411px)
  and (max-device-width: 883px)
  and (-webkit-min-device-pixel-ratio: 3) {
  body{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  #footer{
    background-color: #FFFFFF;
  }
  .navbar-brand{
    margin-left: 1%;
  }
  .navbar-nav{
    text-align: right;
  }
}
